<div class="carosel" id="carousel" dw-loading="carousel" dw-loading-options="{text: 'Loading dreams...'}">
    <ul class="carosel-nav">
        <li ng-repeat="dream in doneDreams"
            ng-click="changeChosen($index, dream.slug);"
            ng-class="doneDreams[chosen].slug === dream.slug ? 'active' : ''">

            <h2>
                <a href="#">{{dream.title}}</a>
            </h2>
        </li>
    </ul>
    <div class="carosel-inner">
        <ul class="carosel-wrapper" rn-carousel rn-carousel-index="chosen"
            rn-carousel-auto-slide="5" rn-carousel-duration="500" rn-carousel-easing="linear" rn-carousel-locked="true">
            <li class="active"
                ng-repeat="dream in doneDreams">

                <div>
                    <img ng-src="{{dream.url}}" alt="Carousel Picture" style="width: 499px; height: 319px" />
                    <p class="dream-info">
                        {{dream.completed_description}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>