<div class="carosel" id="carousel" ng-init="chosen = 0; sliding()"  dw-loading="carousel" dw-loading-options="{text: 'Loading dreams...'}">
    <ul class="carosel-nav" ng-hide="about">
        <li ng-repeat="dream in doneDreams"
            ng-click="changeChosen(dream); resetSliding()"
            ng-class="doneDreams[chosen].slug === dream.slug ? 'active' : ''">

            <h2>
                <a href="#">{{dream.title}}</a>
            </h2>
        </li>
    </ul>
    <img src="images/about_banner.png" class="carosel-nav" ng-show="about" />
    <div class="carosel-inner">
        <ul class="carosel-wrapper">
            <li class="animate-carousel active"
                ng-animate
                ng-repeat="dream in doneDreams"
                ng-show="doneDreams[chosen].slug === dream.slug">

                <a> <!-- ui-sref="{{dream.title}}" -->
                    <img src="images/carosel-item2.jpg" alt="Carousel Picture"><!--ng-src="{{dream.url}}" -->
                </a>
                <p class="dream-info">
                    {{dream.completed_description}}
                </p>
            </li>
        </ul>
    </div>
</div>