<div class="carosel" id="carosel" ng-init="chosen = 0">
    <ul class="carosel-nav">
        <li ng-repeat="dream in doneDreams"
            ng-click="changeChosen(dream)"
            ng-class="doneDreams[chosen].id === dream.id ? 'active' : ''">
            <h2>
                <a href="#">{{dream.title}}</a>
            </h2>
        </li>
    </ul>
    <div class="carosel-inner">
        <ul>
            <li class="active">

                <a href="#">
                    <img ng-src="{{doneDreams[chosen].url}}" alt="carosel item">
                </a>

                <p class="dream-info">
                    {{doneDreams[chosen].completed_description}}
                </p>
            </li>
        </ul>
    </div>
</div>