<div class="carosel" id="carousel" ng-init="chosen = 0; sliding()">
    <ul class="carosel-nav">
        <li ng-repeat="dream in doneDreams"
            ng-click="changeChosen(dream); resetSliding()"
            ng-class="doneDreams[chosen].id === dream.id ? 'active' : ''">
            <h2>
                <a href="#">{{dream.title}}</a>
            </h2>
        </li>
    </ul>
    <div class="carosel-inner">
        <div class="carosel-wrapper">
            <div class="active">

                <a href="#">
                    <img ng-src="{{doneDreams[chosen].url}}" alt="carousel item">
                </a>

                <p class="dream-info">
                    {{doneDreams[chosen].completed_description}}
                </p>
            </div>
        </div>
    </div>
</div>