<div class="dream-page" ng-init="dream = currentDream()" dw-loading="dream" dw-loading-options="{text: 'Loading dream...'}">
    <a class="dream-logo" href="#">
        <img ng-src="{{dream.logo}}" alt="{{dream.title}}" width="649" height="357" />
    </a>
    <a class="dream-video" href="#">
        <video ng-src="{{dream.video}}"></video>
    </a>
    <ul class="dream-img">
        <li ng-repeat="picture in dream.pictures">
            <a href="#">
                <img ng-src="picture.src" alt="" width="155" height="89" />
            </a>
        </li>
    </ul>
    <aside>
        <img class="dream-author-ava" ng-src="{{dream.authorAvatar}}" alt="" width="66" height="66" />
        <p class="dream-author-name">
            <a href="#">{{dream.author}}</a>
        </p>
        <a class="fund-raising" href="#">Розпочати збір коштів</a>
        <h2>Підтримати</h2>
        <ul class="dream-support">
            <li ng-show="dream.dream_financial_resources.length > 1">
                <span class="circle finance"></span><a href="#">Фінансово</a>
            </li>
            <li ng-show="dream.dream_equipment_resources.length > 1">
                <span class="circle tools"></span><a href="#">Обладнанням / Технікою</a>
            </li>
            <li ng-show="dream.dream_work_resources.length > 1">
                <span class="circle work"></span><a href="#">Провести роботи</a>
            </li>
        </ul>
        <p class="dream-support-text">Підтримало<span class="dream-support-number">541</span></p>
        <div class="work-progress">
            <div class="finance"
                 data-pct="{{100 * dream.dream_financial_contributions / dream.dream_financial_resources}}"
                 ng-show="dream.dream_financial_resources == {}">
                <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                            stroke-dashoffset="0"></circle>
                    <circle class="bar" r="25" cx="30" cy="30" fill="transparent"
                            stroke-dasharray="{{157.079633 * dream.dream_financial_contributions / dream.dream_financial_resources}}"
                            stroke-dashoffset="0"></circle>
                </svg>
            </div>
            <div class="instruments"
                 data-pct="{{100 * dream.dream_equipment_contributions / dream.dream_equipment_resources}}"
                 ng-show="dream.dream_equipment_resources == {}">
                <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                            stroke-dashoffset="0"></circle>
                    <circle class="bar" r="25" cx="30" cy="30" fill="transparent"
                            stroke-dasharray="{{157.079633 * dream.dream_equipment_contributions / dream.dream_equipment_resources}}"
                            stroke-dashoffset="0"></circle>
                </svg>
            </div>
            <div class="people"
                 data-pct="{{100 * dream.dream_work_contributions / dream.dream_work_resources}}"
                 ng-show="dream.dream_work_resources == {}">
                <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                            stroke-dashoffset="0"></circle>
                    <circle class="bar" r="25" cx="30" cy="30" fill="transparent"
                            stroke-dasharray="{{157.079633 * dream.dream_work_contributions / dream.dream_work_resources}}"
                            stroke-dashoffset="0"></circle>
                </svg>
            </div>
        </div>
        <h2>Кошторис проекту</h2>
        <ul class="dream-estimate">
            <li>
                <h3 class="finance">Фінансові витрати <span>грн.</span></h3>
                <ul class="item-list">
                    <li>
                        <p class="dream-item">Вагон піску</p>
                        <p class="item-number"><span class="already-have">999</span>/1000 грн.<span class="plus-add-help">+</span></p>
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="tools">Інструменти / обладнання <br /> техніка, <span>шт.</span></h3>
                <ul class="item-list">
                    <li>
                        <p class="dream-item">Вагон піску</p>
                        <p class="item-number"><span class="already-have">999</span>/1000 грн.<span class="plus-add-help">+</span></p>
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="work">Роботи та ресурси, <span>грн.</span></h3>
                <ul class="item-list">
                    <li>
                        <p class="dream-item">Вагон піску</p>
                        <p class="item-number"><span class="already-have">99 999 </span>/99 999 грн.<span class="plus-add-help">+</span></p>
                    </li>
                </ul>
            </li>
        </ul>
        <h2> Поділитись</h2>
        <ul class="contacts-panel">
            <li><a href="#"><span class="ico-fb"></span></a>
            </li><li><a href="#"><span class="ico-vk"></span></a>
        </li><li><a href="#"><span class="ico-gplus"></span></a>
        </li><li><a href="#"><span class="ico-tw"></span></a>
        </li></ul>
    </aside>
    <section>
        <article>
            <h1>{{dream.title}}</h1>
            <a class="dream-edit" ui-sref="editDream({ slug: dream.slug })">Редагувати</a>
            <div class="fund-raising-massage">
                <p>Розпочато збір коштів для реалізації мрії "Супермрія".</p>
                <p><strong>Увага! Щоб уберегти Ваші кошти від зловмисників, здійснюйте переказ виключно за вказаними реквізитами.</strong></p>
                <p>ЧФ ПрАТ КБ "ПРИВАТБАНК" Р/р 123456789</p>
            </div>
            <div class="description">
                {{dream.description}}
            </div>
        </article>
        <h2>Учасники</h2>
        <ul class="dream-participants">
            <li>
                <img src="images/dream-participants-ava.jpg" alt="" width="44" height="44" />
                <h3><a href="#">Інна Кулік</a></h3>
                <ul class="dream-parti-list">
                    <li>лопата красная и длинная, зеленая (1 шт.)</li>
                    <li>покрасить качели (1 день)</li>
                    <li>100 грн.</li>
                </ul>
            </li>
        </ul>
        <h2>Коментарі</h2>
        <div class="dream-comments">

        </div>
    </section>
</div>