<div class="bg-pages faq-page">
    <h1 class="faq-page-title">Регламент та поради</h1>
    <aside class="g-aside faq-aside">
        <ul ng-repeat="quest in questions">
            <li class="active">{{quest.title}}</li>
        </ul>
    </aside>

    <section class="faq-content">
        <dl class="faq-question">
            <dt>Питання:</dt>
            <dd>{{questions[0].question}}</dd>
        </dl>
        <dl class="faq-reply">
            <dt>Відповідь:</dt>
            <dd>{{questions[0].answer}}</dd>
        </dl>
    </section>
</div>
