<footer>
    <ul class="footer-info">
        <li>
            <span class="copy">&copy; 2015 Черкаська мрія</span>
        </li>
        <li>
            <ul class="links">
                <li><a href="#">Регламент та поради</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </li>
        <li>
            <span>Слідкуйте за нами</span>
            <ul class="social">
                <li>
                    <a href="#"><span class="ico-fb"></span></a>
                </li>
                <li>
                    <a href="#"><span class="ico-vk"></span></a>
                </li>
                <li>
                    <a href="#"><span class="ico-gplus"></span></a>
                </li>
                <li>
                    <a href="#"><span class="ico-tw"></span></a>
                </li>
            </ul>
        </li>
        <li>
            <ul class="developers">
                <li>
                    <span class="title">Розробка:</span>
                    <a class="dev" href="#"><img src="images/ico_gh_hov.png" alt="GeekHub"></a>
                </li>
                <li>
                    <span class="title">Дизайн:</span>
                    <a class="designer" href="#"><img src="images/ico_sergium_hov.png" alt="Sergium"></a>
                </li>
            </ul>
        </li>
    </ul>
</footer>