<ui-carousel></ui-carousel>
<section>
<ul class="dreams-preview">
<li>
    <span class="favorite"></span>

    <h3>
        <a href="#">Реконструкція скверу за будівлею облдержадміністрації</a>
    </h3>

    <div class="dreams-preview-container">
        <div class="owner">
            <img src="images/author.png" alt="Author avatar">

            <p><a href="#">Інна Кулік</a></p>
        </div>
        <span class="triangle"></span>
        <a href="#"><img class="img-thumbnail" src="images/img.png" alt="Dream preview image"></a>

        <div class="dreams-rank">
                        <span class="supported">
                            <span>51</span>
                            Підтримали
                        </span>
                        <span class="rating">
                            Рейтинг
                            <span>4</span>
                        </span>
        </div>
    </div>
    <div class="work-progress">
        <div class="finance" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="instruments" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="people" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
    </div>
    <a class="btn-support" href="#">Підтримати</a>
</li>
<li>
    <span class="favorite-checked"></span>

    <h3>
        <a href="#">Реконструкція скверу за будівлею облдержадміністрації</a>
    </h3>

    <div class="dreams-preview-container">
        <div class="owner">
            <img src="images/author.png" alt="Author avatar">

            <p><a href="#">Інна Кулік</a></p>
        </div>
        <span class="triangle"></span>
        <a href="#"><img class="img-thumbnail" src="images/img.png" alt="Dream preview image"></a>

        <div class="dreams-rank">
                        <span class="supported">
                            <span>51</span>
                            Підтримали
                        </span>
                        <span class="rating">
                            Рейтинг
                            <span>4</span>
                        </span>
        </div>
    </div>
    <div class="work-progress">
        <div class="finance" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="instruments" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="people" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
    </div>
    <a class="btn-support" href="#">Підтримати</a>
</li>
<li>
    <span class="favorite"></span>

    <h3>
        <a href="#">Реконструкція скверу за будівлею облдержадміністрації</a>
    </h3>

    <div class="dreams-preview-container">
        <div class="owner">
            <img src="images/author.png" alt="Author avatar">

            <p><a href="#">Інна Кулік</a></p>
        </div>
        <span class="triangle"></span>
        <a href="#"><img class="img-thumbnail" src="images/img.png" alt="Dream preview image"></a>

        <div class="dreams-rank">
                        <span class="supported">
                            <span>51</span>
                            Підтримали
                        </span>
                        <span class="rating">
                            Рейтинг
                            <span>4</span>
                        </span>
        </div>
    </div>
    <div class="work-progress">
        <div class="finance" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="instruments" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="people" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
    </div>
    <a class="btn-support" href="#">Підтримати</a>
</li>
<li>
    <span class="favorite"></span>

    <h3>
        <a href="#">Реконструкція скверу за будівлею облдержадміністрації</a>
    </h3>

    <div class="dreams-preview-container">
        <div class="owner">
            <img src="images/author.png" alt="Author avatar">

            <p><a href="#">Інна Кулік</a></p>
        </div>
        <span class="triangle"></span>
        <a href="#"><img class="img-thumbnail" src="images/img.png" alt="Dream preview image"></a>

        <div class="dreams-rank">
                        <span class="supported">
                            <span>51</span>
                            Підтримали
                        </span>
                        <span class="rating">
                            Рейтинг
                            <span>4</span>
                        </span>
        </div>
    </div>
    <div class="work-progress">
        <div class="finance" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="instruments" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="people" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
    </div>
    <a class="btn-support" href="#">Підтримати</a>
</li>
<li>
    <span class="favorite"></span>

    <h3>
        <a href="#">Реконструкція скверу за будівлею облдержадміністрації</a>
    </h3>

    <div class="dreams-preview-container">
        <div class="owner">
            <img src="images/author.png" alt="Author avatar">

            <p><a href="#">Інна Кулік</a></p>
        </div>
        <span class="triangle"></span>
        <a href="#"><img class="img-thumbnail" src="images/img.png" alt="Dream preview image"></a>

        <div class="dreams-rank">
                        <span class="supported">
                            <span>51</span>
                            Підтримали
                        </span>
                        <span class="rating">
                            Рейтинг
                            <span>4</span>
                        </span>
        </div>
    </div>
    <div class="work-progress">
        <div class="finance" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="instruments" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="people" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
    </div>
    <a class="btn-support" href="#">Підтримати</a>
</li>
<li>
    <span class="favorite"></span>

    <h3>
        <a href="#">Реконструкція скверу за будівлею облдержадміністрації</a>
    </h3>

    <div class="dreams-preview-container">
        <div class="owner">
            <img src="images/author.png" alt="Author avatar">

            <p><a href="#">Інна Кулік</a></p>
        </div>
        <span class="triangle"></span>
        <a href="#"><img class="img-thumbnail" src="images/img.png" alt="Dream preview image"></a>

        <div class="dreams-rank">
                        <span class="supported">
                            <span>51</span>
                            Підтримали
                        </span>
                        <span class="rating">
                            Рейтинг
                            <span>4</span>
                        </span>
        </div>
    </div>
    <div class="work-progress">
        <div class="finance" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="instruments" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="people" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
    </div>
    <a class="btn-support" href="#">Підтримати</a>
</li>
<li>
    <span class="favorite"></span>

    <h3>
        <a href="#">Реконструкція скверу за будівлею облдержадміністрації</a>
    </h3>

    <div class="dreams-preview-container">
        <div class="owner">
            <img src="images/author.png" alt="Author avatar">

            <p><a href="#">Інна Кулік</a></p>
        </div>
        <span class="triangle"></span>
        <a href="#"><img class="img-thumbnail" src="images/img.png" alt="Dream preview image"></a>

        <div class="dreams-rank">
                        <span class="supported">
                            <span>51</span>
                            Підтримали
                        </span>
                        <span class="rating">
                            Рейтинг
                            <span>4</span>
                        </span>
        </div>
    </div>
    <div class="work-progress">
        <div class="finance" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="instruments" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="people" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
    </div>
    <a class="btn-support" href="#">Підтримати</a>
</li>
<li>
    <span class="favorite"></span>

    <h3>
        <a href="#">Реконструкція скверу за будівлею облдержадміністрації</a>
    </h3>

    <div class="dreams-preview-container">
        <div class="owner">
            <img src="images/author.png" alt="Author avatar">

            <p><a href="#">Інна Кулік</a></p>
        </div>
        <span class="triangle"></span>
        <a href="#"><img class="img-thumbnail" src="images/img.png" alt="Dream preview image"></a>

        <div class="dreams-rank">
                        <span class="supported">
                            <span>51</span>
                            Підтримали
                        </span>
                        <span class="rating">
                            Рейтинг
                            <span>4</span>
                        </span>
        </div>
    </div>
    <div class="work-progress">
        <div class="finance" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="instruments" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
        <div class="people" data-pct="100">
            <svg class="svg" width="60" height="60" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
                <circle class="bar" r="25" cx="30" cy="30" fill="transparent" stroke-dasharray="157.079633"
                        stroke-dashoffset="0"></circle>
            </svg>
        </div>
    </div>
    <a class="btn-support" href="#">Підтримати</a>
</li>
</ul>
</section>

<div class="popup popup-login" id="popup-login">
    <div class="popup-content">
        <a class="close" href="#"><span class="ico-cancel"></span></a>

        <p>Вам необхідно авторизуватись</p>
        <ul class="social">
            <li>
                <a href="#"><span class="ico-fb"></span></a>
            </li>
            <li>
                <a href="#"><span class="ico-vk"></span></a>
            </li>
            <li>
                <a href="#"><span class="ico-gplus"></span></a>
            </li>
            <li>
                <a href="#"><span class="ico-tw"></span></a>
            </li>
        </ul>
    </div>
</div>
<div class="popup popup-willview" id="popup-willview">
    <div class="popup-content">
        <a class="close" href="#"><span class="ico-cancel"></span></a>

        <p>Дякуємо, Ваша мрія буде розглянута адміністратором.</p>
    </div>
</div>
<div class="popup popup-thanks" id="popup-thanks">
    <div class="popup-content">
        <a class="close" href="#"><span class="ico-cancel"></span></a>

        <p>Дякуємо за вашу підтримку!</p>
    </div>
</div>