<div class="bg-pages faq-page" ng-init="current = position()" dw-loading="faqs" dw-loading-options="{text: 'Loading faqs...'}">
    <h1 class="faq-page-title">Регламент та поради</h1>
    <aside class="g-aside faq-aside">
        <ul>
            <li ng-repeat="quest in questions()"
                ng-click="changeChosenNumber(quest)"
                ng-class="position(quest) == current ? 'active' : ''">

                <a href="" title="">
                    {{ quest.title }}
                </a>
            </li>
        </ul>
    </aside>

    <div ng-repeat="quest in questions()" >

        <section class="faq-content" ng-show="current == position(quest)">
            <dl class="faq-question">
                <dt>Питання:</dt>
                <dd>{{ quest.question }}</dd>
            </dl>
            <dl class="faq-reply">
                <dt>Відповідь:</dt>
                <dd>{{ quest.answer }}</dd>
            </dl>
        </section>
    </div>
</div>
