html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html,body {
    width: 100%;
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
img {
    max-width: 100%;
    height: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea {
    vertical-align:top;
}
:focus {
    outline:none;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
select, input, textarea {
    vertical-align:middle;
    border: 1px solid #E1E1E1;

}
input[type="button"] {
    cursor: pointer;
}
input[type="submit"] {
    cursor: pointer;
}
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #37ACB1;
}
/*-------------------------------------FONTS--------------------------------------*/
@font-face {
    font-family: 'DaxPro';
    src: url('../fonts/DaxPro.eot');
    src: url('../fonts/DaxPro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DaxPro.woff') format('woff'),
         url('../fonts/DaxPro.ttf') format('truetype'),
         url('../fonts/DaxPro.svg#DaxPro') format('svg');
}
@font-face {
    font-family: 'DaxPro-Bold';
    src: url('../fonts/DaxPro-Bold.eot');
    src: url('../fonts/DaxPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DaxPro-Bold.woff') format('woff'),
         url('../fonts/DaxPro-Bold.ttf') format('truetype'),
         url('../fonts/DaxPro-Bold.svg#DaxPro-Bold') format('svg');
}
@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot?76194991');
    src: url('../fonts/icons.eot?76194991#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff?76194991') format('woff'),
    url('../fonts/icons.ttf?76194991') format('truetype'),
    url('../fonts/icons.svg?76194991#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.ico-mail-alt:before { content: '\e814'; }
.ico-skype-1:before { content: '\e86e'; }
.ico-phone-1:before { content: '\e883'; }
.ico-tw:before { content: '\e800'; }
.ico-vk:before { content: '\e801'; }
.ico-fb:before { content: '\e810'; }
.ico-gplus:before { content: '\e803'; }
.ico-cancel:before { content: '\e837'; }
.ico-spin5:before { content: '\e87e'; }
/*-------------------------------------GLOBAL--------------------------------------*/
body {
    font-family: 'DaxPro', sans-serif;
    background-color: #e9e9e9;
    color: #464646;
}
span {
    font-size: 14px;
    color: #9b9b9b;
}
a {
    font-size: 14px;
    color: #464646;
}
a:link, a:hover {
    text-decoration: none;
}
a:hover {
    color: #dd3509;
}
.bg-pages{
    overflow: hidden;
    padding: 0 30px;
    background: #fff;
}
[class^="ico-"], [class*=" ico-"] {
    font-family: "icons";
    speak: none;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}
.green-button {
  background: -moz-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
  background: -webkit-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
  background: -ms-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
}

.green-button:hover {
  background: -moz-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
  background: -webkit-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
  background: -ms-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
}

.red-button {
  background: -moz-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
  background: -webkit-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
  background: -ms-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
}

.red-button:hover {
  background: -moz-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
  background: -webkit-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
  background: -ms-linear-gradient(top, #ff6e5b 0%, #cb1605 100%);
}

/*-------------------------------------WRAPPER--------------------------------------*/
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.bg-pages{
    overflow: hidden;
    padding: 0 30px;
    background: #fff;
}
/*-------------------------------------HEADER---------------------------------------*/
header {
    position: relative;
    height: 75px;
}
header .social-title {
    float: right;
    margin: 29px 10px 0 0;
}
header .logo {
    float: left;
    width: 88px;
    height: 32px;
    margin: 20px 50px 0 0;
    overflow: hidden;
}
header .add-dream {
    position: absolute;
    top: 0;
    left: 371px;
    height: 75px;
    display: block;
    padding: 29px 50px 0 0;
    background: url(../images/ico_add.png) no-repeat right 17px;
    font-weight: bold;
}
header .add-dream:hover {
    background: url(../images/ico_add_hov.png) no-repeat right 17px;
    color: #464646;
}
header .add-dream:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    height: 35px;
    width: 260px;
    margin-left: -130px;
    background: url(../images/bg_add_dream.png) no-repeat;
}
header .social {
    float: right;
    overflow: hidden;
}
header .social li {
    float: left;
}
header .social li a {
    display: block;
    height: 75px;
}
header .social li span {
    padding-top: 25px;
    color: #464646;
    height: 100%;
    width: 40px;
}
.social li span:hover {
    color: #fff;
}
.social .ico-fb:hover {
    background-color: #2d4c96;
}
.social .ico-fb:active {
    background: none;
    color: #024c9c;
}
.social .ico-vk:hover {
    background-color: #476a91;
}
.social .ico-vk:active {
    background: none;
    color: #2b6c96;
}
.social .ico-gplus:hover {
    background-color: #c43c2b;
}
.social .ico-gplus:active {
    background: none;
    color: #c43c2b;
}
.social .ico-tw:hover {
    background-color: #28aae1;
}
.social .ico-tw:active {
    background: none;
    color: #00ace4;
}
.search {
    position: relative;
    float: right;
    height: 75px;
    margin-left: 5px;
}
.search .search-link {
    display: block;
    height: 75px;
    margin-left: 60px;
    padding: 29px 35px 0 15px;
    background: url(../images/ico_search.png) no-repeat right 10px top 28px;
    color: #9b9b9b;
}
.search .search-link:hover {
    background: #ddd url(../images/ico_search.png) no-repeat right 10px top 28px;
}
#search-block input {
    display: none;
}
.searching input {
    display: inline-block !important;
    height: 77px;
    margin-top: -1px;
    padding: 0 47px 0 15px;
    background: #333 url(../images/ico_search_act.png) no-repeat right 10px top 28px;
    color: #fff;
}
.searching a {
    display: none !important;
}
.search form,
.show-dreams .user-dreams-list,
.search-active .search-link,
.show-dreams .close-block,
.show-dreams .no-user-dreams,
.show-dreams .empty-list .dream-item,
.search-active .social-title {
    display: none;
}
.user-dreams-active .user-dreams-list,
.search-active form,
.show-dreams .empty-list .close-block,
.show-dreams .empty-list .no-user-dreams,
.search-active .search-field,
.search-active input[type="submit"] {
    display: block;
}
.search-active .search {
    margin-left: 13px;
}
.search-active .search-field {
    width: 230px;
    height: 75px;
    padding: 0 35px 0 20px;
	border: 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}
.search-active input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35px;
	border: 0;
    background: url(../images/ico_search_act.png) no-repeat center;
}
.account-bar {
    float: right;
}
.account-bar > li {
    float: left;
}
.account-bar > li > a {
    display: block;
    width: 40px;
    height: 75px;
    text-indent: -3000px;
}
.account-bar .user-photo {
    padding: 17px 5px 0 0;
    width: auto;
    text-indent: 0;
}
.account-bar .user-photo img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.account-bar .profile {
    background: url(../images/ico_userbar.png) no-repeat 10px 47%;
}
.account-bar .profile:hover {
    background: #25d9ff url(../images/ico_userbar.png) no-repeat -152px 47%;
}
.account-bar .profile:active {
    background: url(../images/ico_userbar.png) no-repeat -314px 47%;
}
.account-bar .user-msg {
    background: url(../images/ico_userbar.png) no-repeat -34px 47%;
}
.account-bar .user-msg:hover {
    background: #22e47d url(../images/ico_userbar.png) no-repeat -196px 47%;
}
.account-bar .user-msg:active {
    background: url(../images/ico_userbar.png) no-repeat -358px 47%;
}
.account-bar .user-dreams {
    background: url(../images/ico_userbar.png) no-repeat -80px 47%;
}
.account-bar .user-dreams:hover {
    background: #fcb040 url(../images/ico_userbar.png) no-repeat -242px 47%;
}
.account-bar .user-dreams:active,
.user-dreams-active .user-dreams {
    background: url(../images/ico_userbar.png) no-repeat -404px 47%;
}
.account-bar .logout {
    background: url(../images/ico_userbar.png) no-repeat -120px 47%;
}
.account-bar .logout:hover {
    background: #464646 url(../images/ico_userbar.png) no-repeat -282px 47%;
}
.show-dreams {
    position: relative;
}
.show-dreams .user-dreams-list {
    position: absolute;
    top: 85px;
    left: -5px;
    z-index: 5;
    background-color: #fff;
    width: 220px;
    box-shadow: 0 2px 6px rgba(0,0,0,.11);
}
.show-dreams .user-dreams-list:before {
    position: absolute;
    left: 25px;
    top: -25px;
    content: "";
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #fff;
}
.show-dreams .user-dreams-list li {
    border-top: 1px solid #e7e7e7;
    text-align: left;
}
.show-dreams .empty-list li {
    border: 0;
}
.show-dreams .user-dreams-list .dream-item a {
    display: block;
    height: 50px;
    padding: 15px 0 0 15px;
    font-size: 16px;
}
.show-dreams .user-dreams-list li:first-child {
    border-top: 0;
}
.show-dreams .empty-list .close-block {
    padding: 7px;
}
.show-dreams .empty-list .close span {
    float: right;
    color: #9b9b9b;
    opacity: .5;
    font-size: 12px;
}
.show-dreams .empty-list .no-user-dreams {
    padding: 57px 0 15px 30px;
    height: 140px;
}
.show-dreams .empty-list .no-user-dreams p {
    color: #9b9b9b;
    font-size: 14px;
}

/*-------------------------------------NAV------------------------------------------*/
ul.main-menu {
    float: left;
    margin-top: 28px;
}
ul.main-menu li {
    float: left;
    margin-right: 25px;
}
ul.main-menu li:last-child {
    margin-right: 0;
}

/*-------------------------------------CONTENT--------------------------------------*/
.carosel {
    position: relative;
    width: 959px;
    height: 320px;
    margin-bottom: 23px;
}
.carosel:after {
    position: absolute;
    top: 50%;
    left: 60px;
    right: 60px;
    bottom: 7px;
    z-index: -1;
    content: "";
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    border-radius: 100px / 10px;
}

.carosel-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: inherit;
    width: inherit;
}
.carosel-nav li {
    overflow: hidden;
    height: 159px;
    width: 230px;
    padding: 20px;
    background-color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #e9e9e9;
}
.carosel-nav li:nth-child(odd) {
    float: left;
    clear: left;
}
.carosel-nav li:nth-child(even) {
    float: right;
    clear: right;
}
.carosel-nav li:nth-last-child(-n+2) {
    border-bottom: 0;
}
.carosel-nav li:hover, .carosel-nav .active {
    background: -webkit-linear-gradient(left,  #f1592a 0%,#fcb040 100%);
    background: -ms-linear-gradient(left,  #f1592a 0%,#fcb040 100%);
    background: -moz-linear-gradient(left, #f1592a 0%, #fcb040 100%);
}
.carosel-nav li:nth-child(odd):hover, .carosel-nav li:nth-child(odd).active {
    position: relative;
    padding-left: 32px;
    width: 242px;
    left:-12px;
}
.carosel-nav li:nth-child(even):hover, .carosel-nav li:nth-child(even).active {
    position: relative;
    width: 242px;
    right: -12px;
}
.carosel-nav li:hover a, .carosel-nav .active a {
    color: #fff;
}
.carosel-nav a {
    font-size: 23px;
    font-weight: bold;
}
.carosel-inner {
    position: relative;
    width: 499px;
    height: 318px;
    margin: 0 auto;
    overflow: hidden;
}
.carosel-inner .carosel-wrapper {
    position: relative;
    width: 2000em;
}
.carosel-inner .active {
    float: left;
    position: relative;
}
.carosel-inner .active .dream-info {
    position: absolute;
    bottom: 2px;
    left: 0;
    display: block;
    padding: 17px 20px 22px;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,.25);
}
.animate-carousel {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.animate-carousel.ng-hide {
    margin-left: 500px;
}
.animate-carousel.ng-hide-add,
.animate-carousel.ng-hide-remove,
.animate-carousel.ng-hide-remove.ng-hide-remove-active {
    margin-left: 0;
}
.animate-carousel.ng-hide-add.ng-hide-add-active {
    margin-left: -500px;
}
.main-content {
    text-align: center;
    min-height: 400px;
}
.dreams-preview:after {
    content: "";
    clear: both;
    display: table;
}
.dreams-preview li {
    position: relative;
    background-color: #fff;
    float: left;
    max-width: 230px;
    margin: 0 13px 23px 0;
    -webkit-box-shadow: 2px 1px 6px 0px rgba(50, 50, 50, 0.11);
    box-shadow: 2px 1px 6px 0px rgba(50, 50, 50, 0.11);
}
.dreams-preview li:nth-child(4n) {
    margin-right: 0;
}
.dreams-preview .favorite {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fff url(../images/ico_star_fav.png) no-repeat;
}
.dreams-preview .favorite:hover {
    background: #fff url(../images/ico_star_fav.png) no-repeat -42px 0;
}
.dreams-preview .favorite-checked {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fff url(../images/ico_star_fav.png) no-repeat -84px 0;
}
.dreams-preview .favorite-checked:hover {
    background: #fff url(../images/ico_star_fav.png) no-repeat -125px 0;
}
.dreams-preview h3 {
    padding: 20px 30px 20px 20px;
    margin-bottom: 20px;
}
.dreams-preview h3 a {
    font-size: 18px;
}
.dreams-preview-container {
    position: relative;
}
.dreams-preview-container span.triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
}
.dreams-preview .owner {
    position: absolute;
    top: -24px;
    width: 100%;
}
.dreams-preview .owner img {
    margin-top: 12px;
    float: left;
}
.dreams-preview .owner p {
    position: absolute;
    top: 0;
    left: 24px;
}
.dreams-preview .owner a {
    color: #9b9b9b;
}
.dreams-preview .owner a:hover {
    color: #dd3509;
}
.dreams-preview .img-thumbnail {
    height: 155px;
    width: 230px;
    vertical-align: middle;
}
.dreams-preview .dreams-rank {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: rgba(0,0,0,.25);
}
.dreams-preview .dreams-rank span.supported,
.dreams-preview .dreams-rank span.rating {
    padding-top: 10px;
    font-size: 12px;
    color: #fff;
}
.dreams-preview .dreams-rank span.rating span,
.dreams-preview .dreams-rank span.supported span {
    color: #fff;
    font-size: 20px;
}
.dreams-preview .dreams-rank span.supported {
    float: left;
    margin-left: 10px;
}
.dreams-preview .dreams-rank span.rating {
    float: right;
    margin-right: 10px;
}
.work-progress {
    height: 60px;
    margin: 15px;
    text-align: center;
}
.svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #e0e0e0;
    stroke-width: 7px;
}
.svg .bar {
    stroke: #5a5a5a;
    transform: rotate(-90deg) translateX(-60px);
}
.work-progress .finance,
.work-progress .instruments,
.work-progress .people {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.work-progress .finance:hover .bar,
.work-progress .instruments:hover .bar,
.work-progress .people:hover .bar {
    stroke: #f2602c;
}
.work-progress .finance:after,
.work-progress .instruments:after,
.work-progress .people:after {
    position: absolute;
    display: block;
    height: 48px;
    width: 48px;
    left: 50%;
    top: 50%;
    content: "";
    margin-top: -17px;
    margin-left: -24px;
    border-radius: 100%;
    overflow: hidden;
    line-height: 48px;
    font-size: 14px;
    opacity: .7;
}
.work-progress .finance:after {
    content: url(../images/finance.png);
}
.work-progress .instruments:after {
    content: url(../images/tools.png);
}
.work-progress .people:after {
    content: url(../images/works.png);
}
.work-progress .finance:hover:after,
.work-progress .instruments:hover:after,
.work-progress .people:hover:after {
    margin-top: -24px;
    content: attr(data-pct)"%";
    color: #444444;
    opacity: 1;
}
.dreams-preview a.btn-support {
    position: relative;
    display: block;
    height: 50px;
    padding-top: 15px;
    border-top: 1px solid #c3c3c3;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.dreams-preview a.btn-support:after {
    position: absolute;
    top: 50%;
    bottom: 0px;
    left: 30px;
    right: 30px;
    z-index: -1;
    content: "";
    -webkit-box-shadow:  0 -5px 20px rgba(0,0,0,0.8);
    box-shadow: 0 -5px 20px rgba(0,0,0,0.8);
    border-radius: 100px / 10px;
}
.dreams-preview a.btn-support:hover:after {
    -webkit-box-shadow:  0 15px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(242,96,44,0.8);
    border-radius: 100px / 10px;
}

/*-------------------------------------SIDEBAR--------------------------------------*/
.g-aside{
    margin: 0 30px 20px 0;
    float: left;
    width: 280px;
}
/*-------------------------------------FOOTER---------------------------------------*/
.footer-info > li {
    float: left;
    width: 230px;
    margin-right: 13px;
}
.footer-info > li:nth-child(4n) {
    margin-right: 0;
}
footer {
    overflow: hidden;
    font-size: 14px;
    margin-top: 15px;
    padding: 5px 0 40px 0;
}
.copy {
    background: url(../images/ico_chedream.png) no-repeat;
    padding-left: 30px;
}
footer ul.links li {
    margin-bottom: 10px;
}
footer .social {
    margin-top: 7px;
    float: none;
}
footer .social li {
    float: left;
}
footer .social li a {
    display: block;
    height: 40px;
}
footer .social li span {
    height: 100%;
    width: 40px;
    padding-top: 10px;
    color: #464646;
}
.developers li {
    margin-bottom: 10px;
}
.developers span.title {
    float: left;
}
.developers .dev,
.developers .designer {
    display: inline-block;
    opacity: .5;
}
.developers .dev {
    margin: -4px 0 0 8px;
}
.developers .designer {
    margin: 1px 0 0 8px;
}
.developers .dev:hover,
.developers .designer:hover {
    opacity: 1;
}

/*-------------------------------------POPUPS---------------------------------------*/
.popup-login,
.popup-willview,
.popup-thanks {
    display: none;
}
.popup {
    width: 100%;
    min-height: 100%;
    background: rgba(233,233,233,.7);
    position: fixed;
    top: 0;
    text-align: center;
    overflow: hidden;
}
.popup-content {
    position: relative;
    height: 290px;
    width: 560px;
    margin: 200px auto 0;
    padding: 200px 100px 0;
    font-size: 23px;
    background-color: #fff;
    box-shadow: 0 2px 50px rgba(0,0,0,.23);
}
.popup-content .close-popup span {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
}
.popup-content .close-popup span:hover {
    color: #464646;
}
.popup-login .popup-content {
    background: #fff url(../images/popup-login.png) no-repeat center 70px;
}
.popup-login .popup-content .social {
    margin: 10px auto;
    text-align: center;
}
.popup-login .popup-content .social li {
    display: inline-block;
}
.popup-login .social span {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    color: #464646;
}
.popup-willview .popup-content {
    background: #fff url(../images/popup-willview.png) no-repeat center 50px;
}
.popup-thanks .popup-content {
    background: #fff url(../images/popup-thanks.png) no-repeat center 70px;
}
.dw-loading.dw-loading-overlay {
    background-color: rgba(0, 0, 0, .5);
}


/*-------------------------------------------------------------*/
/*----------------------------MEDIA----------------------------*/
/*-------------------------------------------------------------*/
@media screen and (max-width: 959px) {
  .wrapper {
    max-width: 959px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 1.5%;
  }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both;
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  .mmPushBody {
    overflow: visible;
  }

  header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0 15px;
    background-color: #e9e9e9;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  }

  header .logo {
    float: none;
    display: block;
    width: 88px;
    margin: 14px auto 0;
}

  /*-------------------------Mobile-nav----------------------------------*/
  header .mm-toggle {
    display: block;
    -webkit-tap-highlight-color: transparent;
  }

  ul.main-menu {
    float: none;
    width: 100%;
    margin: 0;
  }

  ul.main-menu li {
    float: none;
    margin: 0;
    width: 100%;
  }

  ul.main-menu li a {
    padding-left: 20px;
    width: 100%;
    height: 40px;
  }

  header .add-dream {
    top: 0;
    right: 0;
    left: auto;
    float: none;
    height: 60px;
    padding: 0;
    background: url(../images/ico_add.png) no-repeat right 9px;
    font-weight: bold;
    text-indent: -3333px;
  }

  header .add-dream:before {
    content: '';
    top: 0;
    right: 0;
    left: auto;
    z-index: -1;
    height: 35px;
    width: 100px;
    float: none;
    margin-left: -40px;
    background: url(../images/bg_add_dream.png) no-repeat;
  }

  header .add-dream:hover {
    background: url(../images/ico_add_hov.png) no-repeat right 9px;
  }

  #mobile-menu {
    position: fixed;
  }

  #mobile-menu .social {
    float: none;
    text-align: center;
  }

  #mobile-menu .social li {
    float: none;
    display: inline-block;
  }

  #mobile-menu .social li a {
    display: block;
    height: 40px;
  }

  #mobile-menu .social li span {
    padding-top: 25px;
    color: #464646;
    height: 100%;
    width: 40px;
  }

  #mobile-menu .social li span {
    padding-top: 5px;
  }

  #mobile-menu .social li span:hover {
    color: #fff;
  }

  #mobile-menu .mobile-social-title {
    display: block;
    text-align: center;
    margin: 0;
    line-height: 30px;
    background-color: #eeeeee;
  }

  .user-panel-title {
    display: block;
    text-align: center;
    line-height: 30px;
    background-color: #eeeeee;
  }

  #mobile-menu .account-bar {
    float: none;
  }

  .account-bar {
    display: block;
  }

  #mobile-menu .account-bar > li {
    float: none;
  }

  #mobile-menu .account-bar > li > a {
    width: 100%;
    height: 40px;
    background: none;
    text-indent: 0;
  }

  #mobile-menu .account-bar .profile:hover,
  #mobile-menu .account-bar .user-msg:hover,
  #mobile-menu .account-bar .user-dreams:hover,
  #mobile-menu .account-bar .logout:hover {
    background: #E1E1E1;
  }

  .mobile-menu {
    float: none;
    border-bottom: 1px solid #cccccc;
  }

  .mobile-menu li {
    position: static;
  }

  .mobile-menu li a:hover {
    background-color: #E1E1E1;
  }

  .mobile-menu li a.active {
    color: #dd3509;
  }

  .mobile-menu .expand {
    right: 0;
    position: absolute;
    border-left: 1px solid #cccccc;
    padding: 0 10px;
    color: #464646;
    margin-left: 100px;
  }

  .mm-toggle {
    position: relative;
    height: 60px;
    background: none;
    border: none;
  }

  .ico-menu-1:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: '\e881';
    font-size: 30px;
    color: #000;
    line-height: 60px;
    text-transform: none;
    text-indent: 0;
  }

  .mobile-search {
    position: relative;
    float: none;
    height: 75px;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }

  .mobile-search .search-field {
    height: 35px;
    width: 226px;
    padding: 8px 35px 8px 20px;
    background: #ddd;
    border-radius: 20px;
    font-size: 14px;
    -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  .mobile-search input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35px;
    border: 0;
    background: url(../images/ico_search.png) no-repeat center;
  }

  .mobile-search .search-field:focus {
    border-color: transparent;
  }

  .show-dreams .user-dreams-list {
    position: static;
    width: 100%;
    background: none;
    box-shadow: none;
  }

  .show-dreams .user-dreams-list a {
    height: 40px;
  }

  .show-dreams .empty-list li {
    border-top: 1px solid #cccccc;
  }

  .show-dreams .empty-list .no-user-dreams {
    height: 40px;
    padding: 10px 0 10px 15px;
  }

  .show-dreams .user-dreams-list .dream-item a {
    height: 40px;
    padding: 10px 0 10px 25px;
  }

  .show-dreams .empty-list .no-user-dreams {
    display: block;
  }

  /*--------------------CONTENT---------------------*/
  #page {
    top: 70px;
  }

  .dreams-preview li {
    width: 32.34515%;
    float: left;
    margin-right: 1.35558%;
    margin-bottom: 15px;
  }
  .dreams-preview li:nth-child(3n) {
    margin-right: 0;
  }
  .dreams-preview li:nth-child(4n) {
    margin-right: 1.35558%;
  }

  /*--------------------FOOTER----------------------*/
  .footer-info > li {
    width: 23.98332%;
    float: left;
    margin-right: 1.35558%;
  }

  footer .social {
    text-align: center;
  }

  footer .social li {
    float: none;
    display: inline-block;
  }

  /*--------------------POPUPS----------------------*/
  .popup-content {
    max-width: 80%;
    height: auto;
    padding: 200px 0px 30px;
    line-height: 30px;
  }

  .popup-content .close-popup span {
    top: 10px;
    right: 10px;
  }

  .search,
  .carosel,
  header .social,
  header .main-menu,
  header .account-bar,
  header .social-title,
  .mobile-search .search-link,
  .show-dreams .user-dreams-list:before,
  .show-dreams .empty-list .close-block,
  #mobile-menu .account-bar > li:first-child {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  footer {
    padding-bottom: 20px;
  }

  .dreams-preview li {
    width: 49.32221%;
    float: left;
    margin-right: 1.35558%;
  }
  .dreams-preview li:nth-child(3n) {
    margin-right: 1.35558%;
  }
  .dreams-preview li:nth-child(2n) {
    margin-right: 0;
  }

  .footer-info > li {
    width: 49.32221%;
    float: left;
    margin-right: 1.35558%;
    margin-bottom: 15px;
  }
  .footer-info > li:nth-child(2n) {
    margin-right: 0;
  }
  .footer-info > li:nth-child(3n) {
    clear: left;
  }

  footer .social {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .dreams-preview h3 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .work-progress {
    height: 50px;
    margin: 10px 0;
  }

  .work-progress .finance,
  .work-progress .instruments,
  .work-progress .people {
    height: 45px;
    width: 45px;
  }

  .work-progress .finance:after,
  .work-progress .instruments:after,
  .work-progress .people:after {
    height: 38px;
    width: 38px;
    margin-top: -11px;
    margin-left: -16px;
    line-height: 38px;
  }

  .work-progress .finance:hover:after,
  .work-progress .instruments:hover:after,
  .work-progress .people:hover:after {
    margin-top: -19px;
  }

  .svg circle {
    stroke-width: 4px;
  }

  .svg .bar {
    transform: rotate(-90deg) translateX(-50px);
  }
}
@media screen and (max-width: 360px) {
  footer {
    text-align: center;
  }

  footer .social {
    text-align: center;
  }

  .footer-info > li {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
  }
  .footer-info > li:nth-child(2n) {
    margin-bottom: 0;
  }

  .footer-info ul.links li {
    margin-bottom: 15px;
  }

  .developers li {
    display: inline-block;
    margin-bottom: 0;
  }
}