
/*--------------------------------------------------------------------*/
/*---------------------------New-addDream(empty)------------------------------*/
/*--------------------------------------------------------------------*/
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #37ACB1;
}

.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clear {
    clear: both;
}
.bg-pages form {
    padding: 25px 0;
}



/*media*/ /*media*/ /*media*/ /*media*/ /*media*/ 

.bg-pages .media {
    text-align: center;
    float: left;
    width: 280px;
    margin: 0 30px 30px 0;
}
.bg-pages .media .logo-container {
    margin: 0 0 9px;
    width: 280px;
    height: 195px;
    position: relative;
/*    display: none;*/
}
.close {
    cursor: pointer;
    display: block;
    width: 13px;
    height: 13px;
    background: url('../images/new-dream-close-logo.png') top center no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
}
.close:hover {
    background: url(../images/new-dream-close-hover.png);
}
.bg-pages .media label, .video  {
    cursor: pointer;
}
.bg-pages .media .uploaded-images {
    margin: 9px -9px 0 0;  
    overflow: hidden;
/*    display: none;*/
}
.bg-pages .media .uploaded-images li {
    float: left;
    width: 63px;
    height: 44px;
    margin: 0 9px 9px 0;
    position: relative;
}
.bg-pages .media .uploaded-videos {
    margin: 9px -9px 0 0;  
    overflow: hidden;
/*    display: none;*/
}
.bg-pages .media .uploaded-videos li {
    float: left;
    width: 135px;
    height: 94px;
    margin: 0 9px 9px 0;
    position: relative;
}

.bg-pages .media .uploaded-docs {
    margin: 9px 0 0;  
/*    display: none;*/
}
.bg-pages .media .uploaded-docs li {
    text-align: left;
    padding: 11px 0 11px 25px;
    border-top: 1px solid #E9E9E9;
}
.bg-pages .media .uploaded-docs li:last-child {
    border-bottom: 1px solid #E9E9E9;
}
.bg-pages .media .docx {
    background: url("../images/doc-docs.png") 6px center no-repeat;
}
.bg-pages .media .xslx {
    background: url("../images/doc-xslx.png") 6px center no-repeat;
}
.bg-pages .media .pdf {
    background: url("../images/doc-pdf.png") 6px center no-repeat;
}
.bg-pages .media .uploaded-docs .close-doc {
    float: right;
    margin: 5px 8px 0 0;
    width: 11px;
    height: 11px;
    background: url("../images/close-doc.png") center center no-repeat;
    cursor: pointer;
}
.bg-pages .media .uploaded-docs .close-doc:hover {
    background: url(../images/close-doc-hover.png) center center no-repeat;
}
.bg-pages .discription {
    overflow: hidden;
}
.bg-pages .estimate {
    clear: both;
}
.bg-pages .media legend, .bg-pages .media .add-url label ,  .bg-pages .estimate > legend, .bg-pages .discription label {
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 8px;
    font: 14px 'DaxPro-Bold';
    color: #37ACB1;
    display: block;
}


.bg-pages .media .main-image label {
    display: block;
    width: 280px;
    height: 195px;
    text-align: center;
    background: url('../images/new-dream-download-logo.png') center 58px no-repeat;
    padding: 124px 0 0;
    border: 1px dashed #B8B8B8;
    font-size: 16px;
    color: #9B9B9B;
/*    display: none;*/
}
.bg-pages .media .main-image label:hover {
    border: 1px dashed #37ACB1;
}
.bg-pages label span {
    color: #F57233;
    margin: 0 0 0 2px;
}
.bg-pages .media input[type='file'] {
    display: none;
}
.bg-pages .media .add-url {
    margin: 30px 0;
    overflow: hidden;
/*    display: none;*/
}
.bg-pages .media .add-url input[type='url'] {
    display: block;
    margin: 0 0 10px 0;
    padding: 4px 0 4px 2px;
    font-size: 20px;
    color: #464646;
    width: 280px;
}
.bg-pages .media .add-url input[type="button"] {
    font: 15px 'DaxPro-Bold';
    color: #FFF;
    padding: 3px 25px;
}
.bg-pages .media .addmedia label {
    display: block;
    width: 52px;
    height: 45px;
}
.bg-pages .media .cont-addmedia {
    margin: 36px 0 0;
}
.bg-pages .media .addmedia {
    display: inline-block;
    width: 52px;
    height: 45px;
    margin: 0 18px;
    background: url('../images/new-dream-download-sprite.png') top left no-repeat;    
}
.bg-pages .media .image {
    background-position: 0px 0;    
}
.bg-pages .media .video {
    background-position: -53px 0;    
}
.bg-pages .media .document {
    background-position: -106px 0;    
}
.bg-pages .media .image:hover {
    background-position: -159px 0;    
}
.bg-pages .media .video:hover {
    background-position: -211px 0;    
}
.bg-pages .media .document:hover {
    background-position: -265px 0;    
}
.bg-pages .media .document {
    position: relative;
}
.type-doc {
    display: none;
}
.bg-pages .media .document:hover > .type-doc {
    display: block;
    position: absolute;
    top: -20px;
    left: -25px;
    width: 98px;
    font-size: 12px; 
}

/*discription*/  /*discription*/  /*discription*/

.bg-pages .discription {
    margin: 0 0 40px; 
}

.bg-pages .discription li {
    margin: 0 0 15px;
}
.bg-pages .discription .dream-title  {
    padding: 0 0 0 2px;
    width: 590px;
    font: 30px 'DaxPro-Bold';
    color: #464646;
}
.bg-pages .discription textarea {
    width: 590px;
    min-height: 123px;
    resize: none;
    font-size: 14px;
    color: #464646; 
    overflow: auto;
}
.wrapp-key-words {
    position: relative;
}
.discription .key-words {
    display: block;
    clear: both;
    padding: 4px 0 4px 2px;
    font-size: 20px;
    color: #464646;
    width: 590px;
}
.discription .list-mark-key-words {
    position: absolute;
    top: 28px;
    left: 3px;
    
}

.bg-pages .discription .mark-key-word {
    display: inline-block;
    color: #37ACB1;
    background: #CCF2F4;
    padding: 4px 8px 6px;
    margin: 0 3px 0 0;
}
.bg-pages .discription .mark-key-word a {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../images/close-key-word.png") center 3px no-repeat;
    cursor: pointer;
    margin: 0 0 0 3px;
}
.bg-pages .discription .mark-key-word a:hover {
    background: url("../images/close-key-word-hov.png") center center no-repeat;
}


.bg-pages .discription small {
    margin: 0 0 0 9px;
    font-size: 12px;
    color: #B3B3B3;
}
.bg-pages .discription .phone-access {
    overflow: hidden;
    padding: 0 0 0 9px;
}
.bg-pages .discription .phone-access li {
    float: left;
}
.bg-pages .discription .phone-access input[type="radio"] {
    display: none;
}
.bg-pages .discription .phone-access label {
    color: #707070;
    margin: 0 4px 0 0;
    border: 1px solid #E9E9E9;
    padding: 2px 10px 1px;
    font: 8px Arial, Helvetica, sans-serif;
}
.bg-pages .discription .phone-access label:hover {
    border: 1px solid #707070;
}
.bg-pages .discription .phone-access input:checked + label {
    background: #5AC1C5;
    color: #E9F7F7;
}
.bg-pages .discription input[type="tel"] {
    font-size: 20px;
    color: #464646;
    width: 180px;
    margin: -8px 0 0;
    padding: 4px 0 4px 2px;
}

/*estimate*/ /*estimate*/ /*estimate*/ /*estimate*/

.bg-pages .estimate {
    min-height: 140px;
}
.bg-pages .estimate > ul {
    margin: 0 -30px 0 0;
}
.bg-pages .estimate > ul > li {
    float: left;
    width: 280px;
    margin: 0 30px 0 0;
}
.bg-pages .estimate fieldset legend {
    border-top: 1px solid #9B9B9B;
    padding: 16px 0px 6px 30px;
    font-size: 14px;
    margin: 0 0 8px;
    width: 280px;
}
.bg-pages .estimate .finance {
    background: url(../images/finance.png) left 9px no-repeat;
}
.bg-pages .estimate .tools {
    background: url(../images/tools.png) left 9px no-repeat;
}
.bg-pages .estimate .works {
    background: url(../images/works.png) left 9px no-repeat;
}
.bg-pages .estimate > ul {
    overflow: hidden;
}
.bg-pages .estimate .right-col {
    overflow: hidden;
}
.bg-pages .estimate .labels {
    display: inline-block;
    color: #A8A8A8;
    font-size: 12px;
    margin: 0 0 3px 0;
}
.bg-pages .estimate .inputs {
    margin: 0 0 7px;
    position: relative;
}
.bg-pages .estimate .close-input {
    width: 11px;
    height: 11px;
    background: url("../images/close-doc.png") center center no-repeat;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: -15px;
}
select {
    font-size: 14px;
    padding: 5px 2px;
    color: #464646;
}
.bg-pages .estimate .close-input:hover {
    background: url(../images/close-doc-hover.png) center center no-repeat;    
}
.bg-pages .estimate input[type="text"] {
    font-size: 14px;
    padding: 6px 2px;
    color: #464646;
}
.bg-pages .estimate .w-item {
    width: 183px;
    margin: 0 8px 0 0;
}
.bg-pages .estimate .w-amount {
    width: 89px;
}
.bg-pages .estimate .w-title {
    width: 134px;
    margin: 0 8px 0 0;
}
.bg-pages .estimate .w-unit {
    width: 73px;
    margin: 0 8px 0 0;
}
.bg-pages .estimate .w-number {
    width: 57px;
}
.bg-pages .estimate .plus button {
    cursor: pointer;
    padding: 15px 0;
    color: #9B9B9B;
    margin: 8px 0 34px;
    width: 280px;
    border: 1px dashed #DFDFDF;
    background: url('../images/plus.png') center center no-repeat;
}
.bg-pages .estimate .plus button:hover {
    background: url('../images/plus-hover.png') center center no-repeat;
    border: 1px solid #DFDFDF;
    box-shadow: 0 0 16px -6px rgba(0,0,0,.3) inset, 0 3px 16px -6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 16px -6px rgba(0,0,0,.3) inset, 0 3px 16px -6px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 16px -6px rgba(0,0,0,.3) inset, 0 3px 16px -6px rgba(0,0,0,.3);
}
.bg-pages .submit {
    text-align: center;
}
.bg-pages .submit .create  {
    display: block;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    font: 20px 'DaxPro-Bold';
    color: #fff;
    padding: 7px 0;
}
.bg-pages .submit button {
    margin: 0 3px 0 0;
    width: 280px;
    font: 20px 'DaxPro-Bold';
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 9.5px 0;
}
.bg-pages .submit .edit {
    width: 280px;
    font: 20px 'DaxPro-Bold';
    color: #fff;
    margin: -4px 0 0 3px;
    padding: 9px 0;
}
.new-dream-shadow{
    margin: 0;
    padding: 35px 0 0 0;
    background: url(../images/section-shadow-green.png)center top no-repeat;    
}



